<input placeholder="search" [(ngModel)]="Search">
 <!--ngModel komunicira dole sa ngfor  -->
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Id:</th>
            <th>nutritionValue:</th>
            <th>Weight:</th>
            <th>Color:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let malina of malineModel.maline | searchPipe:Search">
            <!-- ngModel komunicira sa ngfor iznad a ng for komunicira sa logikom iz ts -->
            <button type="button" class="btn btn-primary" (click)="otvoriMalinu(malina.id)">Otvori</button>
            <td>{{malina.id}}</td>
            <td>{{malina.nutritionValue}}</td>
            <td>{{malina.weight}}</td>
            <td>{{malina.color}}</td>
            <td></td>
            <button type="button" class="btn btn-success" (click)="editujMalinu(malina.id)">Edituj</button>
            <button type="button" class="btn btn-danger" (click)="obrisiMalinu(malina.id)">X</button>
        </tr>
    </tbody>
</table>