<div class="col-md-12">
    <h3>Da li sigurno zelite da obrisete malinu sa id: {{id}} ?</h3>
    <button class="btn btn-danger" (click)="obrisiMalinu()">Da</button>
    <button class="btn btn-info" routerLink="/maline">Ne</button>
</div>