<form>
        <form>
                <div class="form-group">
                        <label for="exampleInputEmail1">Nutrition value</label>
                        <input type="email" name="nutritionValue" class="form-control" aria-describedby="emailHelp" placeholder="Nutrition value"
                                [(ngModel)]="nutritionValue">
                        <label for="exampleInputEmail1">weight</label>
                        <input type="email" class="form-control" name="weight" aria-describedby="emailHelp" placeholder="weight" [(ngModel)]="weight">
                        <label for="exampleInputEmail1">Color</label>
                        <select class="form-control" [(ngModel)]="boja" name="color">
                                <option value="" disabled>Selektuj boju</option>
                                <option [ngValue]="boja.key" *ngFor="let boja of colors">{{boja.label}}</option>
                        </select>

                        <button type="submit" class="btn btn-primary" (click)="izmeniMalinu()">Save </button>
                </div>
        </form>