<div>
    <h1>Pregled jedne maline</h1>
</div>
<ul class="nav nav-pills">

    <li role="presentation">
        <a [routerLink]="('/maline/'+id +'/info')"> Informacije</a>
    </li>
    <li role="presentation">
        <a [routerLink]="('/maline/'+id +'/edit')"> Editing </a>
    </li>
</ul>
<router-outlet></router-outlet>